.toggle-checkbox {
  appearance: none;
  display: none;
}

.toggle-switch {
  width: 78px;
  height: 25px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  background-color: white;
  width: 20px;
  height: 20px;
  font-weight: bold;
  position: absolute;
  top: 2px;
  left: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 54px;
  color: var(--blue-color);
}
