.files-page {
  display: flex;
  gap: 20;
  margin: 20px;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
  }
}
.files-wrapper {
  flex: 1;
}
.statics {
  padding: 20px 0;
  min-width: 260px;
}
