.input-box {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
}
.input-box input {
  width: 100%;
  border: none;
  background-color: transparent;
  height: 40px;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 0 6px 6px 0;
}
.social-box > .input-box:focus-within i {
  color: black;
}
.input-box i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
}
